
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>iQuiz | Login</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'iQuiz/fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" type="text/css" href="{% static 'iQuiz/css/login.css' %}">
</head>

<body>

    <div class="main">

        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="{% static 'iQuiz/img/tenor.gif' %}" alt="sing up image"></figure>
                    </div>

                    <div>
                            <p style = "text-align: center; padding:50px 100px 0px 0px;">
                                We've emailed you instructions for setting your password, if an account exists with the email you entered.
                                You should receive them shortly.
                                If you don't receive an email, please make sure you've entered the address you registered with,
                                and check your spam folder.
                                
                            </p>
                    </div>
                    
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->

    <script src="{% static 'iQuiz/js/jquery-1.12.1.min.js' %}"></script>
    <script src="{% static 'iQuiz/js/login.js' %}"></script>
    <script src="js/login.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>









