{% load static %}
<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>iQuiz | Login</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'iQuiz/fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" type="text/css" href="{% static 'iQuiz/css/login.css' %}">
</head>

<body>
        <!-- bigger_rabbit_and_carrot -->
        <!-- boy_with_laptop -->
    <div class="main">

        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="{% static 'iQuiz/img/elephant.png' %}" alt="sing up image"></figure>
                        <a href="{% url 'user:dashboard' %}" class="signup-image-link">go to profile</a>

                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">Forgot Password? </h2>

                        
                        <div class="row">
                            <aside class="col-sm-4">
                            </aside> <!-- col.// -->
                            <aside class="col-sm-4">
                                <div class="card">
                                    <article class="card-body">
                                        <form method="post">
                                            {% csrf_token %}
                                            {% for field in form %}
                                            <p>Enter your Email<br> {{ field }}
                                                {% for error in field.errors %}
                                                <p style="color: red">{{ error }}</p>
                                                {% endfor %}
                                            </p>
                                            {% endfor %}
                                            <div class="form-group form-button">
                                                    <input type="submit" name="submit" id="submit" class="form-submit" value="submit"/>
                                            </div>
                                        </form>
                                    </article>
                                </div>
                            </aside>
                            <aside class="col-sm-4">
                            </aside> <!-- col.// -->
                        </div>
                    </div>
                </div>
        </section>

    </div>

    <!-- JS -->
	<script async src="https://relayv2-dev.s3.amazonaws.com/analytics/distrobird_widget.js" data-widget-uid="c97e3cb3-9d88-42cc-a467-9288c7075e84"></script>

    <script src="{% static 'iQuiz/js/jquery-1.12.1.min.js' %}"></script>
    <script src="{% static 'iQuiz/js/login.js' %}"></script>
    <script src="js/login.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>

